body {
  background-image: url(./images/abstract_bg_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  color: #ddd;
}

header {
  display: grid;
  grid-template-columns: 318px auto auto;
  grid-template-rows: 100px;
  background: hsla(0, 0%, 30%, 0.2);
}

nav {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  align-self: center;
  justify-self: end;
  text-decoration: none;
  background: hsla(0, 0%, 90%, 0.2);
  margin-right: 5px;
}

.link {
  text-decoration: none;
  font-family: 'Bungee', cursive;
  color: #ddd;
  padding: 10px;
}

.link:hover {
  text-decoration: underline;
}

header h1 {
  font-family: 'Bungee', cursive;
  font-size: 2.9em;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  align-self: center;
  padding-left: 5px;
}
